.maincomponent{
    background-image:   url(../../images/bg-03-01.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    // url(../../images/bg-03-02.svg),
  }